@font-face {
    font-family: "thaisans_neueregular";
    src: url("/fonts/ThaiSansNeue/ThaiSansNeue-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "thaisans_neuebold";
    src: url("/fonts/ThaiSansNeue/ThaiSansNeue-bold.ttf");
    font-style: bold;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "thaisans_neuelight";
    src: url("/fonts/ThaiSansNeue/ThaiSansNeue-Light.ttf");
    font-style: bold;
    font-weight: bold;
    font-display: swap;
}