@import "fonts.css";

html,
body {
    padding: 0;
    margin: 0;
    background: #ffffff;
    font-family: thaisans_neueregular, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.05em;
}

a {
color: inherit;
text-decoration: none;
}

* {
box-sizing: border-box;
}

.btn {
padding: 0;
}

.btn a {
display: inline-block;
font-weight: 400;
color: #212529;
text-align: center;
vertical-align: middle;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
background-color: transparent;
border: 1px solid transparent;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn a:hover {
text-decoration: none;
}

svg {
    color: #00532a;
}

.text-green {
    color: #00532a;
}