/*Header*/
h2 {
    font-size: 2em;
}

.logo {
    max-height: 44px;
    width: auto;
}

.group-search input {
    border: 1px solid #dedede;
    border-radius: 8px;
    border-right: 0;
}

.group-search .input-group-text {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dedede;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-left: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.group-search input, .group-search .input-group-prepend {
    max-height: 30px;
}

/*Home content*/
.banner-course-detail .banner-course-detail-header {
    margin-bottom: 12px;
}

.banner-course-detail {
    background-size: cover;
    background-image: url(https://skilllane.s3-ap-southeast-1.amazonaws.com/banner_academic/tu_banner.png);

    height: 250px;
    padding-top: 35px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.banner-course-detail .banner-course-detail-header h2 {
    color: #676767;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.banner-course-detail .banner-course-detail-sub-header {
    margin-bottom: 5px;
    color: #d13434;
    line-height: 20px;
    letter-spacing: 0.05em;
}

.banner-course-detail .banner-course-detail-sub-header .academic-icon {
    display: inline-flex;
    width: 55px;
    height: 12px;
}

.banner-course-detail .banner-course-detail-degree .btn-degree {
    max-width: 100%;
    color: #555;
    border: 1px solid #555;
    background: #fff;
    border-radius: 20px;
    padding: 3px 10px;
    transition: .2s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
}

.btn-degree a {
    max-width: 100%;
    color: #555;
    border: 1px solid #555;
    background: #fff;
    border-radius: 20px;
    padding: 3px 10px;
    transition: .2s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 14px;
}

.btn-degree a:hover {
    background: #00532a;
    border-color: #00532a;
    color: #fff;
    transition: .2s;
    max-width: 100%;
    border: 1px solid #555;
    border-radius: 20px;
    padding: 3px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
}

.banner-course-detail .review-course-detail h3 {
    font-size: 1.33em;
    font-weight: normal;
    color: #8e8e8e;
}

.star-rating-content .star-ratings {
    margin-bottom: 5px;
}

.review-course-detail .btn-share {
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    padding: 2px 8px;
    border-color: #00532a;
    background-color: white;
    font-size: 18px;
}

.review-course-detail .order-1, .review-course-detail .order-2, .review-course-detail .order-3 {
    padding: 0;
    margin: 0;
}

.review-course-detail .btn-share .btn-share-text {
    font-size: 1em;
    color: #00532a;
}

.content-course {
    margin-bottom: 20px;
}

.content-course-row .border h3 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: #676767;
}

.glance-content .btn-enroll {
    color: #024825;
    border: 1px solid #024825;
    background: #fff;
    font-size: 1.33em;
    height: 50px;
    width: 100%;
    border-radius: 4px;
}

.glance-content .glance-pay {
    border-top:4px solid #024825;
}

.glance-content .btn-enroll:hover, .glance-content .btn-enroll.active {
    color: #ffffff;
    background: #024825 !important;
}

.glance-content .glance-item {
    display: flex;
}

.glance-content .glance-item:not(:last-child) {
    margin-bottom: -15px;
}

.glance-content .glance-item .glance-item-icon {
    margin-right: 15px;
    width: 16px;
}

.glance-content .glance-item .glance-item-icon .fa-check {
    color: #00532a;
    font-size: 16px;
}

.glance-content .glance-item .glance-item-icon .fa-times {
    color: #8e8e8e;
    font-size: 16px;
}

.glance-content .glance-item .glance-item-text p {
    font-size: 0.9em;
    color: #555555;
    line-height: 1;
    /*margin-top: 5px;*/
}

/* session */
.boxCourse {
    width: 100%;
    border: #676767 1px solid;
    display: block;
}

.courselist {
    padding: 0;
    margin: 0;
    list-style: none;
}

.courselist .title {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding: 5px;
    margin: 0px 0px 1px 0px;
    color: #fff;
    background-color: #7B7B7B;
}

.courselist li {
    padding: 5px;
    color: #676767;
    line-height: 15px;
}

.courselist li svg {
    color: #676767;
}

.courselist li.preview:hover, .courselist li.preview:hover svg {
    cursor: pointer;
    color: #00532a;
}

.courselist .session-time {
    width: 100px;
}

.courselist .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 68%;
    font-weight: bold;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border-radius: .25em;
    margin-right: 10px;
    line-height: 15px;
    vertical-align: top;
}

.courselist .label-success {
    background-color: #5cb85c;
}

/*sidebar*/
.sidebar .title {
    border-bottom: 1px solid #cccccc;
}

.instructor-card.-border {
    padding-bottom: 20px;
    border-bottom: 1px solid #CCC;
}

.instructor-card .instructor-card-head {
    display: flex;
}

.instructor-card .instructor-card-head .instructor-profile-image {
    width: 120px;
    float: left;
}

.instructor-card .instructor-card-head .instructor-profile-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: auto;
    vertical-align: middle;
}

.instructor-card .instructor-card-head .instructor-profile-title {
    width: 100%;
    float: left;
    margin-left: 10px;
}

.instructor-card .instructor-card-head .instructor-profile-title .profile-title-name a {
    color: #00532a;
}

.instructor-card .instructor-card-head .instructor-profile-title .profile-rating p {
    padding: 4px 4px 0;
    margin-bottom: 0;
    font-weight: 300;
    margin-top: 0px;
    font-size: 14px;
    line-height: 140%;
    text-align: left;
}

.instructor-card .instructor-card-content .instructor-card-detail {
    padding-top: 12px;
    padding-left: 24px;
    list-style-type: disc;
    word-break: break-word;
    color: #676767;
}

@media screen and (max-width: 1199px) {
    .banner-course-detail._academic {
        height: auto;
    }
}